$assetsPath: "../assets";

@mixin bg-image($image-width, $image-height) {
  background-size: cover;
  height: 100vh;
  display: block;
  position: relative;
  background-position: center center;
  filter: contrast(100%);
  background-color: rgba(215, 224, 255, 0.26);
  background-blend-mode: screen;
}

.mainBg {
  background-image: url(#{$assetsPath}/main-bg.jpg);
  @include bg-image(100vw, 100vh);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flexPosition {
  position: relative;
  margin-top: -70vh;
}
.logo {
  position: absolute;
  width: 4rem;
  right: 2vw;
  top: 2vh;
}
