.drawer {
  box-sizing: border-box;
  position: relative;
  margin: 10rem auto;
  padding: 2rem 2rem;
  width: 90vw;
  max-width: 2000px;

  background: #ffffff;
  border-radius: 4px;
  overflow-y: scroll;
  color: #000000;
  animation: fadeIn 0.5s;

  .trendFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;

    .trend {
      display: flex;
      flex-direction: column;
      .trendA {
        position: relative;
        width: 239px;
        height: 325px;
        margin-bottom: 1rem;
        border-radius: 10px;
        background: transparent;
        transition: 0.2s;
        &:hover {
          box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
          cursor: pointer;
        }
        img {
          width: 239px;
          height: 325px;
          object-fit: cover;
          border-radius: 4px;
        }
        .viewButton {
          box-sizing: border-box;
          position: absolute;
          text-align: center;
          bottom: 0;
          right: 0;
          background: rgba(109, 132, 255, 0.71);
          color: white;
          font-size: 1.1rem;
          width: 100%;
          font-weight: 500;
          opacity: 0;
          visibility: hidden;
          -webkit-transition: visibility 0s, opacity 0.2s linear;
          transition: visibility 0s, opacity 0.2s linear;
        }
        &:hover .viewButton {
          padding: 8px 15px;
          overflow-x: hidden;
          visibility: visible;
          opacity: 1;
        }
      }
      .trendB {
        font-weight: 400;
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
        &:hover {
          cursor: pointer;
        }
      }

      .price {
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 24px;
        margin-bottom: 0.5rem;
        color: #6d84ff;
      }
    }
  }
}
